<p>
  <strong>Summary:</strong>
  <%= @story.summary %>
</p>

<p>
  <strong>Status:</strong>
  <%= @story.status %>
</p>
<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>
<p>
  <strong>Fix Version:</strong>
  <%= @story.fix_version %>
</p>
<%= link_to 'Back', stories_path %>